.exchangeContainer{
    margin-top: 20px;
}

.Inp{
    padding: 5px;
    outline: none;
    box-shadow: 0px 2px 3px grey;
    padding: 8px;
    font-size: 1.1rem;
    box-sizing: border-box;
    margin-right: 5px;
    /* width: 50%; */
    /* display: block; */
    /* margin: auto; */
}

.Select{
    padding: 5px;
    outline: none;
    box-shadow: 0px 2px 3px grey;
    padding: 8px;
    font-size: 1.1rem;

}